@model Clinic8.Models.Assistant

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Assistant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="hidden"asp-for="as_username" class="form-control" />
                <span asp-validation-for="as_username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="as_password" class="form-control" />
                <span asp-validation-for="as_password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="as_phone" class="control-label"></label>
                <input asp-for="as_phone" class="form-control" />
                <span asp-validation-for="as_phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="as_email" class="form-control" />
                <span asp-validation-for="as_email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ins_doc" class="control-label"></label>
                <input asp-for="ins_doc" class="form-control" />
                <span asp-validation-for="ins_doc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="as_fname" class="control-label"></label>
                <input asp-for="as_fname" class="form-control" />
                <span asp-validation-for="as_fname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="as_mname" class="control-label"></label>
                <input asp-for="as_mname" class="form-control" />
                <span asp-validation-for="as_mname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="as_lname" class="control-label"></label>
                <input asp-for="as_lname" class="form-control" />
                <span asp-validation-for="as_lname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
