
<html>
<head>
    <title>

    </title>
    <style>
        .body{
            background-image:url("../../wwwroot/download.png");
        }
    </style>
</head>
<body  >
    <div style="padding:250px;color:red;">

        <h1>
            <span style="color:blue; text-transform:uppercase;" class="typer" id="main" data-words="We Think You Should Login" data-delay="100" data-deleteDelay="1000"></span>
            <span class="cursor" data-owner="main"></span>
        </h1>
        <script async src="https://unpkg.com/typer-dot-js@0.1.0/typer.js"></script>
    </div>
</body>
</html>
