@model Clinic8.Models.Messages

@{
    ViewData["Title"] = "Create";
   
}

<h1>Create</h1>

<h4>Messages</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="m_subject" class="control-label"></label>
                <input asp-for="m_subject" class="form-control" />
                <span asp-validation-for="m_subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="m_message" class="control-label"></label>
                <input asp-for="m_message" class="form-control" />
                <span asp-validation-for="m_message" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

