@model Clinic8.Models.Patient

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Patient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <select asp-for="Id" class ="form-control" asp-items="ViewBag.Id"></select>
            </div>
            <div class="form-group">
                <label asp-for="pat_firstname" class="control-label"></label>
                <input asp-for="pat_firstname" class="form-control" />
                <span asp-validation-for="pat_firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pat_middlename" class="control-label"></label>
                <input asp-for="pat_middlename" class="form-control" />
                <span asp-validation-for="pat_middlename" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pat_lastname" class="control-label"></label>
                <input asp-for="pat_lastname" class="form-control" />
                <span asp-validation-for="pat_lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pat_geneder" class="control-label"></label>
                <input asp-for="pat_geneder" class="form-control" />
                <span asp-validation-for="pat_geneder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pat_username" class="control-label"></label>
                <input asp-for="pat_username" class="form-control" />
                <span asp-validation-for="pat_username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pat_password" class="control-label"></label>
                <input asp-for="pat_password" class="form-control" />
                <span asp-validation-for="pat_password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pat_phone" class="control-label"></label>
                <input asp-for="pat_phone" class="form-control" />
                <span asp-validation-for="pat_phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pat_birthday" class="control-label"></label>
                <select asp-for="pat_birthday" class="form-control"></select>
                <span asp-validation-for="pat_birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pat_email" class="control-label"></label>
                <input asp-for="pat_email" class="form-control" />
                <span asp-validation-for="pat_email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pat_address" class="control-label"></label>
                <input asp-for="pat_address" class="form-control" />
                <span asp-validation-for="pat_address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pat_blood_type" class="control-label"></label>
                <input asp-for="pat_blood_type" class="form-control" />
                <span asp-validation-for="pat_blood_type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ins_ref" class="control-label"></label>
                <select asp-for="ins_ref" class ="form-control" asp-items="ViewBag.ins_ref"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
