@model Clinic8.Models.Admin

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Admin</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="admin_fname" class="control-label"></label>
                <input asp-for="admin_fname" class="form-control" />
                <span asp-validation-for="admin_fname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="admin_mname" class="control-label"></label>
                <input asp-for="admin_mname" class="form-control" />
                <span asp-validation-for="admin_mname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="admin_lname" class="control-label"></label>
                <input asp-for="admin_lname" class="form-control" />
                <span asp-validation-for="admin_lname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="admin_username" class="control-label"></label>
                <input asp-for="admin_username" class="form-control" />
                <span asp-validation-for="admin_username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="admin_password" class="control-label"></label>
                <input asp-for="admin_password" class="form-control" />
                <span asp-validation-for="admin_password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="admin_phone" class="control-label"></label>
                <input asp-for="admin_phone" class="form-control" />
                <span asp-validation-for="admin_phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="admin_email" class="control-label"></label>
                <input asp-for="admin_email" class="form-control" />
                <span asp-validation-for="admin_email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
